body {
  background-color: #dde1d4;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 650px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.father {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 100px repeat(2, 370px);
  grid-template-areas:
    "header header header"
    "bad bad bad-next"
    "religion religion religion";
  gap: 15px;
}

.header {
  display: flex;
  font-size: 15px;
  color: white;
  align-items: flex-end;
  padding: 20px 20px;
  background-color: black;
  justify-content: space-between;
  grid-area: header;
}

#padding-left {
  padding-left: 50px;
}

.bad {
  padding-left: 7px;
  display: flex;
  font-size: 170px;
  align-items: flex-end;
  font-weight: 700;
  margin-bottom: 0%;
  background-color: #ff4500;
  grid-area: bad;
}
.bad-next {
  background-color: #ff4500;
  grid-area: bad-next;
}

.religion {
  background-color: #ff4500;
  grid-area: religion;
  margin-bottom: 15px;
}

#religion {
  padding-left: 7px;
  font-size: 170px;
  align-self: flex-end;
  font-weight: 700;
  justify-content: space-around;
}

#jawbreaker {
  /* padding: 20px; */
  font-size: 30px;
  font-weight: 500;
  color: #dde1d4;
}
